{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="bg-yellow">
  <div class="d-flex flex-wrap flex-lg-nowrap container">
    <div class="mt-sm-4 mt-lg-auto w-100 mb-sm-2 text-center text-lg-left">
      <div class="section"></div>
      <h1>Althea Blog</h1>
    </div>
  </div>
</div>


<div class="container section top-section">
  <div class="d-flex flex-wrap row posts">
    {{#foreach posts}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card"}}
    {{/foreach}}
  </div>
  <div class="w-100 text-center">
    {{pagination}}
  </div>
</div>

